{
    "rules": {
        "at-rule-no-unknown": true,
        "at-rule-no-vendor-prefix": true,
        "block-closing-brace-empty-line-before": "never",
        "block-closing-brace-newline-before": "always",
        "block-closing-brace-newline-after": "always",
        "block-opening-brace-newline-after": "always-multi-line",
        "block-opening-brace-newline-before": null,
        "block-opening-brace-space-after": "always-single-line",
        "block-opening-brace-space-before": "always",
        "block-no-empty": true,
        "color-hex-case": "lower",
        "color-hex-length": "short",
        "color-named": "never",
        "color-no-invalid-hex": true,
        "comment-empty-line-before": [ "always", {
            "except": ["first-nested"],
            "ignore": ["stylelint-commands", "after-comment"]
        }],
        "comment-no-empty": true,
        "comment-whitespace-inside": "always",
        "declaration-block-no-duplicate-properties": [ true, {
            "ignore": ["consecutive-duplicates-with-different-values"]
        }],
        "declaration-block-semicolon-newline-after": "always",
        "declaration-block-semicolon-newline-before": "never-multi-line",
        "declaration-block-semicolon-space-after": "always-single-line",
        "declaration-block-semicolon-space-before": "never",
        "declaration-colon-space-after": "always",
        "declaration-block-single-line-max-declarations": 1,
        "declaration-block-trailing-semicolon": "always",
        "declaration-no-important": true,
        "declaration-property-unit-blacklist": null,
        "declaration-property-unit-whitelist": null,
        "declaration-property-value-blacklist": null,
        "declaration-property-value-whitelist": null,
        "font-family-name-quotes": "always-unless-keyword",
        "font-weight-notation": "numeric",
        "function-blacklist": null,
        "function-calc-no-unspaced-operator": true,
        "function-comma-newline-after": "never-multi-line",
        "function-comma-newline-before": "never-multi-line",
        "function-comma-space-after": "always",
        "function-comma-space-before": "never",
        "function-linear-gradient-no-nonstandard-direction": true,
        "function-max-empty-lines": 0,
        "function-name-case": "lower",
        "function-parentheses-newline-inside": "never-multi-line",
        "function-parentheses-space-inside": "never",
        "function-url-quotes": "always",
        "function-whitelist": null,
        "function-whitespace-after": "always",
        "indentation": [4, {
            "except": ["value"],
            "ignore": ["value", "param"]
        }],
        "length-zero-no-unit": true,
        "max-empty-lines": 4,
        "max-nesting-depth": 4,
        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-name-no-vendor-prefix": true,
        "media-feature-parentheses-space-inside": "never",
        "media-feature-range-operator-space-after": "always",
        "media-feature-range-operator-space-before": "always",
        "media-query-list-comma-newline-after": "always-multi-line",
        "media-query-list-comma-newline-before": null,
        "media-query-list-comma-space-after": "always-single-line",
        "media-query-list-comma-space-before": "never",
        "no-duplicate-selectors": true,
        "no-eol-whitespace": true,
        "no-extra-semicolons": true,
        "no-invalid-double-slash-comments": null,
        "no-missing-end-of-source-newline": true,
        "number-leading-zero": "never",
        "number-max-precision": 4,
        "number-no-trailing-zeros": true,
        "property-case": "lower",
        "property-no-unknown": true,
        "property-no-vendor-prefix": true,
        "rule-empty-line-before": [ "always", {
            "except": ["first-nested"],
            "ignore": ["after-comment"]
        }],
        "selector-class-pattern": ["^((?!js-|[a-z]+([A-Z]+))([0-9A-Za-z]+((-|_)(?![a-z]+([A-Z]+))[0-9a-zA-Z]+)*))+(__(?![a-z]+([A-Z]+))([0-9A-Za-z]+((-|_)(?![a-z]+([A-Z]+))[0-9A-Za-z]+)*))?(--([0-9a-z]+((-|_)[0-9a-z]+)*))?$", {
            "message": "This selector violates the Vrbo BEM naming conventions."
        }],
        "selector-list-comma-newline-after": "always",
        "selector-list-comma-newline-before": "never-multi-line",
        "selector-list-comma-space-after": "always-single-line",
        "selector-list-comma-space-before": "never",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-max-id": 0,
        "selector-no-vendor-prefix": true,
        "selector-pseudo-class-case": "lower",
        "selector-pseudo-class-no-unknown": true,
        "selector-pseudo-element-case": "lower",
        "shorthand-property-no-redundant-values": true,
        "selector-pseudo-element-colon-notation": "double",
        "selector-pseudo-element-no-unknown": true,
        "string-no-newline": true,
        "string-quotes": "single",
        "unit-case": "lower",
        "unit-no-unknown": true,
        "unit-whitelist": null,
        "value-keyword-case": ["lower", {
            "ignoreKeywords": ["/^([A-Z][a-z ]+)+/"],
            "message": "Use lower case for values.  The first letter is allowed to be uppercase. (ex: 'Arial')."
        }],
        "value-list-comma-newline-after": "always-multi-line",
        "value-list-comma-newline-before": "never-multi-line",
        "value-list-comma-space-after": "always-single-line",
        "value-list-comma-space-before": "never",
        "value-list-max-empty-lines": 0,
        "value-no-vendor-prefix": true
    }
}